* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

:root {
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);

  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);

  font-family: "Hanken Grotesk", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container .card {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
  align-content: 
}

@media (min-width: 500px) {  
  .container .card {
    display: flex;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* RESULT */
.container .card .result {
  background: linear-gradient(
    180deg,
    var(--Light-slate-blue) 0%,
    var(--Light-royal-blue) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--White);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 1.5rem 2rem;
  gap: 1rem;
  color: var(--Light-lavender);
}

@media (min-width: 500px) {
  .container .card .result {
    border-radius: 24px;
    max-width: 50%;
    width: 100%;
  }
}

.container .card .result h1 {
  font-size: 16px;
}

.container .card .result .score {
  background: radial-gradient(
    hsla(256, 72%, 46%, 1) 0%,
    hsla(241, 72%, 46%, 0) 100%
  );
  width: 125px;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 0.8rem;
}

.container .card .result .score span {
  display: block;
  font-size: 48px;
  color: var(--White);
}

.container .card .result .score p {
  color: var(--Light-lavender);
}

.container .card .result .note {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.container .card .result .note h2 {
  font-size: 20px;
  font-weight: 500;
  color: var(--White);
}

.container .card .result .note p {
  font-size: 14px;
}

/* ICONS */
.icon {
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 10px;
}

.icon-reaction {
  background-image: url(./assets/images/icon-reaction.svg);
}

.icon-memory {
  background-image: url(./assets/images/icon-memory.svg);
}

.icon-verbal {
  background-image: url(./assets/images/icon-verbal.svg);
}

.icon-visual {
  background-image: url(./assets/images/icon-visual.svg);
}

/* SUMMARY */
.container .summary {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

@media (min-width: 500px) {
  .container .card .summary {
    border-radius: 24px;
    max-width: 50%;
    width: 100%;
  }
}

.container .summary h1 {
  font-size: 16px;
  color: var(--Dark-gray-blue);
}

.summary-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  color: var(--Dark-gray-blue);
  padding: 8px 12px;
}

.summary-information-category {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.summary-information-category p {
  font-weight: 500;
}

.summary-information .score {
  color: var(--Light-lavender);
}

.summary-information .score strong {
  color: var(--Dark-gray-blue);
  margin-right: 6px;
}

.summary-information-reaction p {
  color: var(--Light-red);
}

.summary-information-memory p {
  color: var(--Orangey-yellow);
}

.summary-information-verbal p {
  color: var(--Green-teal);
}

.summary-information-visual p {
  color: var(--Cobalt-blue);
}

.summary-information-reaction {
  background-color: hsl(0, 100%, 98%);
}

.summary-information-memory {
  background-color: hsl(39, 100%, 98%);
}

.summary-information-verbal {
  background-color: hsl(166, 100%, 98%);
}

.summary-information-visual {
  background-color: hsl(234, 85%, 98%);
}

.button {
  background-color: var(--Dark-gray-blue);
  color: var(--White);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 330px;
  text-decoration: none;
  padding: 0.8rem;
  cursor: pointer;
  margin-top: 10px;
}
